<div class="dialog-container">

    <h2 mat-dialog-title class="dialog-title">

        Add Dashboard

    </h2>

    <mat-dialog-content class="dialog-content">

        <form [formGroup]="form">

            <mat-form-field appearance="outline" class="dashboard-field">

                <mat-label>

                    Dashboard Name

                </mat-label>

                <input matInput formControlName="dashboardName" placeholder="Enter dashboard name">

                <mat-icon matSuffix>

                    dashboard

                </mat-icon>

                @if (
                form.get('dashboardName')?.hasError('required') &&
                form.get('dashboardName')?.touched
                ) {

                <mat-error>

                    Dashboard name is required.

                </mat-error>

                }

            </mat-form-field>

        </form>

    </mat-dialog-content>

    <mat-dialog-actions class="dialog-actions">

        <button mat-stroked-button class="cancel-btn" type="button" (click)="cancel()">

            Cancel

        </button>

        <button mat-raised-button color="primary" class="save-btn" type="button" (click)="save()">

            Save

        </button>

    </mat-dialog-actions>

</div>