#######################################
# Visual Studio
#######################################
.vs/
*.user
*.suo

#######################################
# ASP.NET Core
#######################################
**/bin/
**/obj/

#######################################
# Angular
#######################################
dashboard/node_modules/
dashboard/.angular/
dashboard/dist/

#######################################
# VS Code
#######################################
.vscode/

#######################################
# Logs
#######################################
*.log

#######################################
# Environment
#######################################
.env

#######################################
# Windows
#######################################
Thumbs.db
Desktop.ini

#######################################
# macOS
#######################################
.DS_Store