.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.login-card{
    width:400px;
    padding:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
    border-radius:8px;
 background-color: white;
    
}
.full-width {
  width: 100%;
  margin-bottom: 16px;
  
}
.title{
    text-align:center;
    margin-bottom:20px;
    padding-left: 67px;
}

.login-btn {
    height: 48px;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}



.btn-content mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}