@if (!selectedNode) {

<mat-card class="empty-card">

    <mat-card-content>

        <h2>Select a User Type or User</h2>

        <p>Please select a User Type or User from the tree.</p>

    </mat-card-content>

</mat-card>

}

@else if (selectedUserType) {

<mat-card class="usertype-card">

    <div class="usertype-header">

        <div class="header-left">

            <div class="type-avatar">

                {{ selectedUserType.name.charAt(0) }}

            </div>

            <div>

                <h2>{{ selectedUserType.name }}</h2>

                <span class="role-chip">
                    User Type
                </span>

                <span class="status-chip" [class.inactive]="!selectedUserType.isActive">

                    {{ selectedUserType.isActive ? 'Active' : 'Inactive' }}

                </span>

            </div>

        </div>

        @if(!selectedUserType.isSystem){

        <button mat-flat-button color="primary" class="edit-btn" (click)="openEditUserTypeDialog()">

            <mat-icon>edit</mat-icon>

            Edit User Type

        </button>

        }

    </div>

    <mat-divider></mat-divider>

    <div class="info-grid">

        <div class="info-item">

            <div class="icon-circle">
                <mat-icon>groups</mat-icon>
            </div>

            <div>

                <span class="field-title">Total Users</span>

                <span class="field-value">
                    {{ totalUsers }}
                </span>

            </div>

        </div>

        <div class="info-item">

            <div class="icon-circle">
                <mat-icon>person</mat-icon>
            </div>

            <div>

                <span class="field-title">Created By</span>

                <span class="field-value">
                    {{ selectedUserType.createdBy }}
                </span>

            </div>

        </div>

        <div class="info-item">

            <div class="icon-circle">
                <mat-icon>calendar_today</mat-icon>
            </div>

            <div>

                <span class="field-title">Created On</span>

                <span class="field-value">

                    {{ selectedUserType.createdOn | date:'dd MMM yyyy'}}

                </span>

            </div>

        </div>

    </div>

</mat-card>

}
@else if (selectedUser) {

<mat-card class="info-card">

    <mat-card-header class="profile-header">

        <div class="profile-left">

            <div class="avatar">

                {{ getInitials(selectedUser.fullName) }}
                <span class="online"></span>

            </div>

            <div class="profile-details">

                <h2>

                    {{ selectedUser.fullName }}

                </h2>

                <p>

                    {{ selectedUserTypeName }}

                </p>

                <span class="status" [class.active]="selectedUser.isActive">

                    {{ selectedUser.isActive ? 'Active' : 'Inactive' }}

                </span>

            </div>

        </div>

        <button mat-flat-button color="primary" (click)="openEditUserDialog()" class="edit-btn">

            <mat-icon>edit</mat-icon>

            Edit User

        </button>
    </mat-card-header>

    <mat-card-content>

        <div class="info-grid">

            <div class="info-item">

                <div class="icon-box">
                    <mat-icon>person</mat-icon>
                </div>

                <div>
                    <span class="field-title">Username</span>
                    <span class="field-value">{{selectedUser.username}}</span>
                </div>

            </div>

            <div class="info-item">

                <div class="icon-box">
                    <mat-icon>badge</mat-icon>
                </div>

                <div>
                    <span class="field-title">User Type</span>
                    <span class="field-value">{{selectedUserTypeName}}</span>
                </div>

            </div>

            <div class="info-item">

                <div class="icon-box">
                    <mat-icon>mail</mat-icon>
                </div>

                <div>
                    <span class="field-title">Email</span>
                    <span class="field-value">{{selectedUser.email}}</span>
                </div>

            </div>

            <div class="info-item">

                <div class="icon-box">
                    <mat-icon>phone</mat-icon>
                </div>

                <div>
                    <span class="field-title">Contact</span>
                    <span class="field-value">{{selectedUser.contact}}</span>
                </div>

            </div>

            <div class="info-item">

                <div class="icon-box">
                    <mat-icon>calendar_today</mat-icon>
                </div>

                <div>
                    <span class="field-title">Created On</span>
                    <span class="field-value">
                        {{selectedUser.createdOn | date:'dd MMM yyyy'}}
                    </span>
                </div>

            </div>

            <div class="info-item">

                <div class="icon-box">
                    <mat-icon>account_circle</mat-icon>
                </div>

                <div>
                    <span class="field-title">Created By</span>
                    <span class="field-value">{{selectedUser.createdBy}}</span>
                </div>

            </div>

        </div>

    </mat-card-content>
</mat-card>

<mat-card class="dashboard-card">

    <mat-card-header>

        <mat-card-title>

            Dashboard Assignment

        </mat-card-title>

        <span class="spacer"></span>

        @if(!selectedUser.isSystem){

        <button mat-flat-button color="primary" (click)="openAssignDashboardDialog()" class="edit-btn">

            Assign Dashboards

        </button>

        }@else{

        <div class="system-info">

            <mat-icon>verified_user</mat-icon>

            System Administrator has access to all dashboards.

        </div>

        }

    </mat-card-header>

    <mat-card-content>

        @if (assignedDashboardNames.length > 0) {

        @for (dashboard of assignedDashboardNames; track dashboard) {

        <div class="dashboard-item">

            <div class="dashboard-left">

                <div class="dashboard-icon">

                    <mat-icon>dashboard</mat-icon>

                </div>

                <div>

                    <h3>{{dashboard}}</h3>

                    <p>Assigned dashboard</p>

                </div>

            </div>

            <mat-icon color="primary">

                check_circle

            </mat-icon>

        </div>

        }

        }
        @else {

        <p>No dashboards assigned.</p>

        }

    </mat-card-content>

</mat-card>

}