<div class="tree-container">

    <div class="tree-header">

        <div class="header-title">

            <div class="header-icon">
                <mat-icon>groups</mat-icon>
            </div>

            <div>

               
               <h4>User Types & Users</h4>

            </div>

        </div>

    </div>



    <div class="tree-content">

        <p-tree [value]="(userTreeNodes$ | async) ?? []" selectionMode="single" (onNodeSelect)="onNodeSelect($event)">
        </p-tree>

    </div>

</div>